$primary-color: #8FB011;
$primary-gradient: linear-gradient(-45deg, #78AF13, #78AF1399, #78AF13);

$black: #2A2A29;
$black75: #2a2a29BF;
$black50: #2A2A29BF;
$black25: #2A2A2940;
$black10: #2A2A291A;
$black5: #2A2A290D;



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 77px;
}

button,
a {
    font-family: inherit;
    cursor: pointer;
}

img {
    vertical-align: middle;
}

body {
    font-family: 'Nunito', sans-serif;
    color: $black75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: $black;
}

h1 {
    font-size: 2.9rem;
    line-height: 48px;
}

h3 {
    font-size: 2.3rem;
    line-height: 37px;
}

h5 {
    font-size: 1.8rem;
    line-height: 30px;
}

h6 {
    font-size: 1.6rem;
    line-height: 26px;
}

p {
    font-size: 1.6rem;
    line-height: 26px;
}

.container {
    padding: 0 1rem;
}

.text-bold {
    font-weight: 600;
}

.section {
    margin-top: 4.8rem;
    padding-top: 1.6rem;
}

.h3-box {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
}

.h3-line {
    height: 2px;
    width: 100%;
    background-image: $primary-gradient;
}

.h3 {
    padding: 0 1.6rem;
}

.content {
    &__paragraph {
        margin-bottom: 1.6rem;
    }

    &__img-box {
        position: relative;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        aspect-ratio: 570 / 407;
        width: 100%;
    }

    &__img {
        margin-left: auto;
        margin-right: auto;
        aspect-ratio: 506 / 343;
        width: 89%;
        border-radius: 16px;
        background-size: cover;
        background-position: center;
    }

    &__img-shadow-one {
        position: absolute;
        top: 14%;
        right: 0;
        z-index: -1;
        width: 85%;
        aspect-ratio: 482 / 317;
        border-radius: 16px;
        background-color: $black10;
    }

    &__img-shadow-two {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 85%;
        aspect-ratio: 482 / 317;
        border-radius: 16px;
        background-color: $black10;
    }

    &__list-title {
        margin-bottom: 0.8rem;
        color: $black;
        font-weight: 600;
    }

    &__list {
        margin-bottom: 2.4rem;
    }

    &__list-item {
        margin-left: 1.5rem;
        padding-left: 0.7rem;
        font-size: 1.6rem;
        line-height: 27px;

        &::marker {
            content: '•';
        }
    }
}






////////////////////      NAWIGACJA     ////////////////////

.navbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e7e7e7;
        background-color: #fff;
        box-shadow: 0 4px 4px #0000001A;
    }

    &__logo {
        display: block;
        padding: 1rem;
        height: 60px;
        width: 116px;
    }

    &__logo-img {
        width: 100%;
    }

    &__burger-btn {
        padding: 1.6rem 2rem;
        border: none;
        background-color: transparent;
    }

    &__burger-svg {
        width: 21px;
        height: 24px;
    }

    &__links {
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 1.6rem 1rem;
        background-color: #fff;
        box-shadow: 0 4px 4px #0000001A;
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
        transition: clip-path .35s;
        pointer-events: none;
    }

    &__list {
        list-style: none;
    }

    &__list-link {
        display: block;
        padding: .8rem 0rem;
        color: $black;
        font-size: 1.8rem;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 27px;
    }

    .show-nav {
        position: static;
        clip-path: polygon(0 0, 100% 0, 100% 107%, 0 107%);
        pointer-events: auto;
    }
}




////////////////////      HERO     ////////////////////

.hero {
    padding: 1.6rem;
    position: relative;
    margin-top: 61px;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background-image: url('../img/header-bg-640.jpg');
        background-size: cover;
        opacity: 0.4;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: 209px;
        height: 109px;
    }

    &__h1 {
        order: -1;
        margin-bottom: 1.6rem;
        max-width: 288px;
        text-align: center;
        text-shadow: 3px 3px 4px rgba(0, 0, 0, .2);
    }
}



////////////////////      USŁUGI     ////////////////////

.services {
    margin-top: 1.6rem;

    &__row {
        display: flex;
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 112px;
        text-decoration: none;
    }

    &__box-svg {
        height: 3.2rem;
    }

    &__box-h5 {
        margin-top: 1.6rem;
    }
}




////////////////////      WPROWADZENIE     ////////////////////

.introduction {
    padding-top: 1.6rem;

    &__box {
        position: relative;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-160px);
        z-index: -1;
        background-image: url('../img/introduction_640.jpg');
        background-size: cover;
        border-radius: 24px;
        width: 100%;
        height: 250px;
    }

    &__text-box {
        margin-top: 160px;
        padding: 1rem 2rem;
        border: 1px solid $black10;
        background-color: #fcfcfc;
        border-radius: 16px;
    }

    &__h5 {
        margin-bottom: 0.8rem;
    }

    &__h5-line {
        display: block;
    }

    &__h5-colored-letter {
        color: $primary-color;
    }

    &__h5-comma {
        display: none;
    }
}




////////////////////      KSIĘGOWOŚĆ     ////////////////////

.accountancy {
    &__content__img {
        background-image: url('../img/accountancy_640.jpg');
    }
}




////////////////////      SZKOLENIA     ////////////////////

.training {
    &__content__img {
        background-image: url('../img/training_640.jpg');
    }
}




////////////////////      DORADZTWO     ////////////////////

.advisement {
    &__content__img {
        background-image: url('../img/advisement_640.jpg');
    }
}




////////////////////      CENY TRANSFEROWE     ////////////////////

.transfer-prices {
    &__h3 {
        min-width: 275px;
    }

    &__content__img {
        background-image: url('../img/transfer-prices_640.jpg');
    }

    &__content__list-title {
        margin-top: 2.4rem;
    }
}




////////////////////      O NAS     ////////////////////

.aboutus {    
    &__h3 {
        min-width: 105px;
    }

    &__paragraph {
        margin-bottom: 1.6rem;
    }

    &__certificate-box {
        border: 5px solid #F4F0E9;
        margin: 2.4rem;
        margin-left: auto;
        margin-right: auto;
        width: 260px;
    }

    &__certificate-img {
        width: 100%;
    }
}











































































































// =============================================================================

@media (min-width: 406px) {

    ////////////////////      WPROWADZENIE     ////////////////////

    .introduction {
        &__h5-line {
            display: inline;
        }

        &__h5-comma {
            display: inline;
        }
    }
}




////////////////////      KONTAKT     ////////////////////

.contact {
    &__box {
        display: flex;
        margin-bottom: 2.4rem;
        border-radius: 16px;
        background-color: $black10;

        &:nth-of-type(2), &:nth-of-type(3) {
            .contact__paragraph {
                margin-bottom: 0;
                padding: 1.3rem 1.6rem;
                color: $black;
            }
        }
    }

    &__icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        width: 52px;
        background-color: $black5;
    }

    &__svg {
        width: 2rem;
    }

    &__text-box {
        padding: 1.6rem 2.4rem;
    }

    &__h6 {
        margin-bottom: 0.8rem;

        &:last-of-type {
            margin-top: 1.6rem;
        }
    }

    &__paragraph {
        margin-bottom: 0.2rem;
    }

    &__map-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3.2rem;
    }

    &__map {
        border: 2px solid #C9C9C9;
        border-radius: 16px;
        aspect-ratio: 320 / 240;
        width: 100%;
    }
}



////////////////////      FOOTER     ////////////////////
