$primary-color: #8FB011;
$primary-gradient: linear-gradient(-45deg, #78AF13, #78AF1399, #78AF13);

$black: #2A2A29;
$black75: #2a2a29BF;
$black50: #2A2A29BF;
$black25: #2A2A2940;
$black10: #2A2A291A;
$black5: #2A2A290D;



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

button,
a {
    font-family: inherit;
    cursor: pointer;
}

img {
    vertical-align: middle;
}

body {
    font-family: 'Nunito', sans-serif;
}




////////////////////      NAWIGACJA     ////////////////////

.navbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e7e7e7;
        background-color: #fff;
        box-shadow: 0 4px 4px #0000001A;
    }

    &__logo {
        display: block;
        padding: 1rem;
        height: 60px;
        width: 116px;
    }

    &__logo-img {
        width: 100%;
    }

    &__burger-btn {
        padding: 1.6rem;
        padding-right: 1rem;
        border: none;
        background-color: transparent;
    }

    &__burger-svg {
        width: 21px;
        height: 24px;
    }

    &__links {
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 1.6rem 1rem;
        background-color: #fff;
        box-shadow: 0 4px 4px #0000001A;
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
        transition: clip-path .35s;
        pointer-events: none;
    }

    &__list {
        list-style: none;
    }

    &__list-link {
        display: block;
        padding: .8rem 0rem;
        color: $black;
        font-size: 1.8rem;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 27px;
    }

    .show-nav {
        position: static;
        clip-path: polygon(0 0, 100% 0, 100% 107%, 0 107%);
        pointer-events: auto;
    }
}